# Regressão Linear
#### Exercício Reprodução do canal Data Viking

### Entendendo o case:

Trabalhar uma base de dados (com dados fictícios) de uma instituição financeira que possua duas informações para clientes: 
     • salário 
     • limite de empréstimo
A ideia é treinar o modelo usando essas duas variáveis e depois prever qual seria o limite de c´redito para as pessoas com base no salário delas.

In [2]:
#Importando bibliotecas

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
#Importando o arquivo

df = pd.read_excel('BaseDados_RegressaoLinear.xlsx', 'Plan1')
df

        Salario  Limite_Emprestimo
0   1250.219130        2900.124323
1   1262.721321        2929.125566
2   1275.348535        2958.416822
3   1288.102020        2988.000990
4   1300.983040        3017.881000
..          ...                ...
94  3185.629581        7279.937858
95  3217.485877        7315.799621
96  3249.660736        7351.661384
97  3282.157343        7387.523147
98  3314.978916        7423.384910

[99 rows x 2 columns]

# ANÁLISE EXPLORATÓRIA